@model IEnumerable<IELChak.Models.Curso>

@{
    ViewData["Title"] = "Cursos";
}

<h2>Cursos</h2>

<p>
    <a data-toggle='modal' data-target='#modalCS' class='btn btn-info'>Crear curso</a>
</p>
<div class="form-group">
    <div class="col-md-6">
        <input id="filtrar" name="filtrar" placeholder="Buscar" onkeyup="filtrarDatos(1);" class="form-control" /> 
    </div>
</div>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Horas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CursoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CursoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CursoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
